# Load States Data
* States
* States Population

In [199]:
# Dependencies
import pandas as pd
import os
import datetime

# Import SQL Alchemy
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Database - Postgres
import psycopg2

In [231]:
# Constants, configuration
START_YEAR = 2015
DATA_SRC_STATE_POPULATION = 2;

In [207]:
# Database connection
def get_dbconnection():
    connection = psycopg2.connect(user = "postgres",
                                  password = "postgres",
                                  host = "localhost",
                                  port = "5432",
                                  database = "ETLproject")    
    return connection

# Get States database. returns dataframe
def get_states():
    engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/ETLproject')
    metadata = db.MetaData()
    connection = engine.connect()
    states = db.Table('state', metadata, autoload=True, autoload_with=engine)
    results = connection.execute(db.select([states])).fetchall()
    df = pd.DataFrame(results)
    df.columns = results[0].keys()
    return df

# Read columns in spreadsheet and get index for years
def get_yearcolumns(df):
    yearColumns = {}

    now = datetime.datetime.now()
    
    idx = 0
    for col in df.columns.values:
        year = None
        if(isinstance(col, int)):
            year = col
        elif (isinstance(col, str)):
            if(col.isdigit()):
                year = int(col)
        if(year != None and year >= START_YEAR and year <= now.year):
            yearColumns[year] = idx
        idx += 1 
    return yearColumns

### States Basics
* Input data in Excel - state_codes.xls
* Expects name, A2 name, FIPS code in first 3 columns

In [195]:
# Read states data with FIPS codes, values are in second sheet
states = os.path.join("..", "InputData", "state_codes.xls")
statesdata_df = pd.read_excel(states, sheet_name='Sheet2')
statesdata_df.columns = ["name", "name_a2", "id"]
#statesdata_df.index.names = ["id"]
statesdata_df.head()

         name name_a2  id
0     Alabama      AL   1
1      Alaska      AK   2
2     Arizona      AZ   4
3    Arkansas      AR   5
4  California      CA   6

In [196]:
# Insert data into database
connection = get_dbconnection()
cursor = connection.cursor()

try:
    # DO NOTHING / UPDATE SET (name, name_a2) = (EXCLUDED.name, EXCLUDED.name_a2)
    for index, row in statesdata_df.iterrows():
        cursor.execute("INSERT INTO state (id, name, name_a2) VALUES (%s, %s, %s) ON CONFLICT DO NOTHING", 
                       (row['id'], row['name'], row['name_a2']))
     # commit the changes to the database
    connection.commit()
    cursor.close()
except psycopg2.DatabaseError as e:
    print(e)
finally:
    connection.rollback()
    if connection is not None:
        connection.close()    
    print("States import finished.")

Import finished.

### States Population
* Input data in nst-est2018-01.xlsx
* Sheet constains data for multiple years

In [238]:
# States population from file
# Code reflects layout of data in the file
population_file = os.path.join("..", "InputData", "nst-est2018-01.xlsx")

# Skip first 3 rows, they do not contains used data
population_df = pd.read_excel(population_file, sheet_name='NST01', skiprows=3)

# State name in first column
population_df.columns.values[0] = "state"

# States from database
states_df = get_states() 

# Merge data - be sure to cleanup data in merging columns, i.e. state names
states_population_df = pd.merge(states_df, population_df, left_on='name', right_on='state')

# Save data in database
connection = get_dbconnection()
cursor = connection.cursor()

try:
    for year in get_yearcolumns(population_df):
        state_pop_year_df = states_population_df[['state', 'id', year]]
        yeardate =  datetime.datetime.strptime(f"{year}0606", '%Y%m%d')
        for index, row in state_pop_year_df.iterrows():
            cursor.execute("INSERT INTO state_population (state_id, population, year, source_id) \
                            VALUES (%s, %s, %s, %s) ON CONFLICT DO NOTHING", 
                          (row['id'], row[year], yeardate, DATA_SRC_STATE_POPULATION))
        print(f"Year: {year}, states sum population: {int(states_population_df[year].sum())}")
    connection.commit()
    cursor.close()
except psycopg2.DatabaseError as e:
    print(e)
    connection.rollback()
finally:
    if connection is not None:
        connection.close()    
    print("Population import finished.")

Year: 2015, states sum population: 320742673
Year: 2016, states sum population: 323071342
Year: 2017, states sum population: 325147121
Year: 2018, states sum population: 327167434
Population import finished.

                   state  id        2018
0                Alabama   1   4887871.0
1                 Alaska   2    737438.0
2                Arizona   4   7171646.0
3               Arkansas   5   3013825.0
4             California   6  39557045.0
5               Colorado   8   5695564.0
6            Connecticut   9   3572665.0
7               Delaware  10    967171.0
8   District of Columbia  11    702455.0
9                Florida  12  21299325.0
10               Georgia  13  10519475.0
11                Hawaii  15   1420491.0
12                 Idaho  16   1754208.0
13              Illinois  17  12741080.0
14               Indiana  18   6691878.0
15                  Iowa  19   3156145.0
16                Kansas  20   2911505.0
17              Kentucky  21   4468402.0
18             Louisiana  22   4659978.0
19                 Maine  23   1338404.0
20              Maryland  24   6042718.0
21         Massachusetts  25   6902149.0
22              Michigan  26   9995915.0
23             Minnesota  27   5611179.0
24           Mississippi  28   2986530.0
25              Missouri  29   6126452.0
26               Montana  30   1062305.0
27              Nebraska  31   1929268.0
28                Nevada  32   3034392.0
29         New Hampshire  33   1356458.0
30            New Jersey  34   8908520.0
31            New Mexico  35   2095428.0
32              New York  36  19542209.0
33        North Carolina  37  10383620.0
34          North Dakota  38    760077.0
35                  Ohio  39  11689442.0
36              Oklahoma  40   3943079.0
37                Oregon  41   4190713.0
38          Pennsylvania  42  12807060.0
39          Rhode Island  44   1057315.0
40        South Carolina  45   5084127.0
41          South Dakota  46    882235.0
42             Tennessee  47   6770010.0
43                 Texas  48  28701845.0
44                  Utah  49   3161105.0
45               Vermont  50    626299.0
46              Virginia  51   8517685.0
47            Washington  53   7535591.0
48         West Virginia  54   1805832.0
49             Wisconsin  55   5813568.0
50               Wyoming  56    577737.0

2019