# Load States Data
* States Basics - into **state** table
* States Population - into **state_population** table
* Per Capita Personal Consumption Expenditures by States - into **state_pce** table

In [241]:
# Dependencies
import pandas as pd
import os
import datetime

# Import SQL Alchemy
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Database - Postgres
import psycopg2

In [268]:
# Constants, configuration
START_YEAR = 2015 # for generic ETL program it might be better to laod data x years backward, instead of using fixed value
DATA_SRC_STATE_POPULATION = 2; # TODO - come up with a list of sources and assign id to each of them
DATA_SRC_PCE = 3; # TODO - come up with a list of sources and assign id to each of them

### Functions

In [243]:
# Database connection
def get_dbconnection():
    connection = psycopg2.connect(user = "postgres",
                                  password = "postgres",
                                  host = "localhost",
                                  port = "5432",
                                  database = "ETLproject")    
    return connection

# Get States database. returns dataframe
def get_states():
    engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/ETLproject')
    metadata = db.MetaData()
    connection = engine.connect()
    states = db.Table('state', metadata, autoload=True, autoload_with=engine)
    results = connection.execute(db.select([states])).fetchall()
    df = pd.DataFrame(results)
    df.columns = results[0].keys()
    return df

# Read columns in spreadsheet and get index for years
def get_yearcolumns(df):
    yearColumns = {}

    now = datetime.datetime.now()
    
    idx = 0
    for col in df.columns.values:
        year = None
        if(isinstance(col, int)):
            year = col
        elif (isinstance(col, str)):
            if(col.isdigit()):
                year = int(col)
        if(year != None and year >= START_YEAR and year <= now.year):
            yearColumns[year] = idx
        idx += 1 
    return yearColumns

### States Basics
* Input data in Excel - state_codes.xls
* Expects name, A2 name, FIPS code in first 3 columns

In [252]:
# Read states data with FIPS codes, values are in second sheet
states = os.path.join("..", "InputData", "state_codes.xls")
statesdata_df = pd.read_excel(states, sheet_name='Sheet2')
statesdata_df.columns = ["name", "name_a2", "id"]
#statesdata_df.index.names = ["id"] # TODO - it might be better to use state id as df index
statesdata_df.head()

         name name_a2  id
0     Alabama      AL   1
1      Alaska      AK   2
2     Arizona      AZ   4
3    Arkansas      AR   5
4  California      CA   6

In [245]:
# Insert data into database
connection = get_dbconnection()
cursor = connection.cursor()

try:
    # DO NOTHING / UPDATE SET (name, name_a2) = (EXCLUDED.name, EXCLUDED.name_a2)
    for index, row in statesdata_df.iterrows():
        cursor.execute("INSERT INTO state (id, name, name_a2) VALUES (%s, %s, %s) ON CONFLICT DO NOTHING", 
                       (row['id'], row['name'], row['name_a2']))
     # commit the changes to the database
    connection.commit()
    cursor.close()
except psycopg2.DatabaseError as e:
    print(e)
finally:
    connection.rollback()
    if connection is not None:
        connection.close()    
    print("States import finished.")

States import finished.

### States Population
* Input data in nst-est2018-01.xlsx
* Sheet constains data for multiple years
* Loader takes data from 2015 till current year
* Loader adds new value, it does not update already loaded; it uses unieque table index (state_id, year)

In [246]:
# States population from file
# Code reflects layout of data in the file
population_file = os.path.join("..", "InputData", "nst-est2018-01.xlsx")

# Skip first 3 rows, they do not contains used data
population_df = pd.read_excel(population_file, sheet_name='NST01', skiprows=3)

# State name in first column
population_df.columns.values[0] = "state"

# States from database
states_df = get_states() 

# Merge data - be sure to cleanup data in merging columns, i.e. state names
# Merge automatically select correct rows from the input data
# TODO - Full blown ETL should report missing states
states_population_df = pd.merge(states_df, population_df, left_on='name', right_on='state')

# Load data into database
connection = get_dbconnection()
cursor = connection.cursor()

try:
    for year in get_yearcolumns(population_df):
        state_pop_year_df = states_population_df[['state', 'id', year]] # no need for index, using column name instead
        for index, row in state_pop_year_df.iterrows():
            # modified_data column value is automatically filled by DB engine with default value now() 
            cursor.execute("INSERT INTO state_population (state_id, population, year, source_id) \
                            VALUES (%s, %s, %s, %s) ON CONFLICT DO NOTHING", 
                          (row['id'], row[year], year, DATA_SRC_STATE_POPULATION))
        print(f"Year: {year}, states sum population: {int(states_population_df[year].sum())}")
    connection.commit()
    cursor.close()
except psycopg2.DatabaseError as e:
    print(e)
    connection.rollback()
finally:
    if connection is not None:
        connection.close()    
    print("Population import finished.")

Year: 2015, states sum population: 320742673
Year: 2016, states sum population: 323071342
Year: 2017, states sum population: 325147121
Year: 2019, states sum population: 327167434
Population import finished.

### Per Capita Personal Consumption Expenditures by States
* Total and Off-premises food and beverages

In [297]:
PCE_YEAR = 2017

# pce file
pce_file = os.path.join("..", "InputData", "BEA", "pce1018.xlsx")

# Combine data from multiple sheets 
# 1) State Total 
pce_total_df = pd.read_excel(pce_file, sheet_name='Table 1', skiprows=2)
# State name in first column
pce_total_df.columns.values[0] = "state"
# Only columns with used data
pce_total_df = pce_total_df[['state', PCE_YEAR]] 
# Rename columns
pce_total_df.columns.values[1] = "pce_total_state"

# 2) Total per-capita, foot-beverages category
pce_category_df = pd.read_excel(pce_file, sheet_name='Table 4', skiprows=2)
# State name in first column
pce_category_df.columns.values[0] = "state"
# Only columns with used data
pce_category_df = pce_category_df[['state', 'Total Personal Consumption Expenditures', 'Off-premises food and beverages']]
# Rename columns 
pce_category_df.columns.values[1] = "pce_total_percapita"
pce_category_df.columns.values[2] = "pce_food_beverages"

pce_df = states_df.merge(pce_total_df, left_on='name', right_on='state')[['id', 'state', 'pce_total_state']]
pce_df = pce_df.merge(pce_category_df, on='state')

# PCE values to int64 dtype
pce_df = pce_df.astype({"pce_total_state": int, "pce_total_percapita": int, "pce_food_beverages": int})

pce_df

,id,state,pce_total_state,pce_total_percapita,pce_food_beverages
0,1,Alabama,158375,32489,2633
1,2,Alaska,35537,48036,3986
2,4,Arizona,242400,34548,2789
3,5,Arkansas,98766,32875,2642
4,6,California,1754083,44366,2872
5,8,Colorado,236839,42239,3203
6,9,Connecticut,181992,50720,3357
7,10,Delaware,40739,42351,3280
8,11,District of Columbia,42273,60914,4577
9,12,Florida,829402,39525,3087
10,13,Georgia,365321,35028,2872
11,15,Hawaii,65768,46071,4081
12,16,Idaho,60675,35339,3531
13,17,Illinois,549556,42927,2715
14,18,Indiana,242041,36305,2702
15,19,Iowa,118443,37652,3053
16,20,Kansas,106429,36534,2998
17,21,Kentucky,150485,33785,3127
18,22,Louisiana,161794,34539,2788
19,23,Maine,57930,43364,4115
20,24,Maryland,272556,45034,2880
21,25,Massachusetts,365405,53267,3682
22,26,Michigan,390895,39237,2961
23,27,Minnesota,252923,45354,3077
24,28,Mississippi,89604,30027,2658
25,29,Missouri,236100,38619,2697
26,30,Montana,43023,40955,3560
27,31,Nebraska,77111,40160,2894
28,32,Nevada,119339,39806,2874
29,33,New Hampshire,67496,50265,3798
30,34,New Jersey,449477,49911,3329
31,35,New Mexico,72447,34696,2783
32,36,New York,978399,49291,2904
33,37,North Carolina,350857,34152,2898
34,38,North Dakota,35286,46713,3138
35,39,Ohio,459381,39403,2754
36,40,Oklahoma,129937,33056,2406
37,41,Oregon,169046,40805,3523
38,42,Pennsylvania,548321,42819,2784
39,44,Rhode Island,45769,43193,2966
40,45,South Carolina,169281,33692,2799
41,46,South Dakota,37011,42558,2959
42,47,Tennessee,234422,34905,2826
43,48,Texas,1061038,37486,2878
44,49,Utah,111002,35786,2601
45,50,Vermont,29839,47845,4452
46,51,Virginia,368875,43551,3199
47,53,Washington,328644,44377,3409
48,54,West Virginia,63115,34758,2857
49,55,Wisconsin,235644,40660,3047
50,56,Wyoming,23773,41036,3413

In [298]:
# Load data into database
connection = get_dbconnection()
cursor = connection.cursor()

try:
    for index, row in pce_df.iterrows():
        # modified_data column value is automatically filled by DB engine with default value now() 
        cursor.execute("INSERT INTO state_pce (state_id, year, pce_total_state, pce_total_percapita, pce_food_beverages, source_id) \
                        VALUES (%s, %s, %s, %s, %s, %s) ON CONFLICT DO NOTHING", 
                        (row['id'], PCE_YEAR, row['pce_total_state'], row['pce_total_percapita'], row['pce_food_beverages'], DATA_SRC_PCE))
    connection.commit()
    cursor.close()
except psycopg2.DatabaseError as e:
    print(e)
    connection.rollback()
finally:
    if connection is not None:
        connection.close()    
    print("PCE import finished.")

PCE import finished.

KeyError: 'pce_total_state'